.containerOurProgram {
  background-color: #eee;
  font-family: "Work Sans", sans-serif;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
}
.TextOurImpact {
  background-color: #eee;
  font-family: "Work Sans", sans-serif;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
}
.Box_impact_numbers {
  background-color: #eee;
  font-family: "Work Sans", sans-serif;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
}

/* We can set all our Titles with h2, thus, everyone of titles have same font and color */
h2 {
  font-family: "Work Sans", sans-serif;
  color: rgb(74, 80, 187);
}

/* We can set all our highlighted text, thus every "highlighted text" have same font and color */
.highlight {
  color: #1c2294;
  font-weight: 600;
}

/*navbar */

.hyfp {
  display: flex;
  width: 100%;
  height: 85px;
  min-height: 85px;
  box-sizing: border-box;
  padding: 0px 20px;
}
.pfyh {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: 1280px;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: auto;
  padding: 0px;
}

.lghyf {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 60%;
}

.imalogo {
  width: auto;
  height: 100%;
  object-fit: contain;
  border-radius: 0px;
}

.tonv {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-direction: row;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nvb {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  color: rgb(127, 127, 127);
  font-size: 12px;
  line-height: 160%;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: "Work Sans", sans-serif;
}

.botton {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}
/* Banner */
.tobann {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  pad: 50px 20px;
  position: relative;
  box-shadow: none;
  background: url(https://maria2811-code.github.io/Project-3Class15_3-HYF_website/Assets/banner.jpg) center center no-repeat transparent;
  z-index: 1;
  flex: 0 0 auto;
}

.toima {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.toltt {
  display: flex;
  margin: 60px 0px 30px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  max-width: 800px;
  z-index: 10;
}

.lthelp {
  font-size: 64px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  max-width: none;
  text-shadow: 2px 2px 4px #1c2294;
}



/* -- Our Impact -- */
.Box_impact {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
  padding: 50px;
  margin-bottom: 50px;
}

.OurImpact {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin: 0px 0px 50px;
  max-width: 800px;
}

.Box_impact_numbers {
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.Box_impact_number1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(74, 80, 187);
  width: 30%;
  padding: 20px;
  margin: 10px;
}
h3 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: left;
  max-width: none;
}

.ImpactText1 {
  color: white;
}


/* ----- Our Program --- */
.BoxOurProgram {
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    padding: 50px 20px;
    position: relative;
    box-shadow: none;
    background: none;
    z-index: 1;
    flex: 0 0 auto;
}
.BoxOurProgramNested {
  flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: 10px 0px;
    margin: 0px auto;
}

.containerOurProgram {
  width: 100%;
    display: flex;
    margin: 50px 0px;
}

.leftOurProgram {
  display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px 50px 0px 0px;
    width: 50%;
    order: 1;
}

.Title_OurProgram {
  font-size: 20px;
    line-height: 140%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: rgb(28, 34, 148);
    text-align: left;
    max-width: none;
}

.TextOurProgram {
  color: rgb(45, 48, 55);
    text-align: left;
    max-width: 470px;
    line-height: 160%;
    font-size: 16px;
    font-family: "Space Mono", monospace;
    margin: 0px;
    white-space: pre-wrap;
    word-break: break-word;
    font-weight: 300;
}

           /*My Partners*/

.maincon { width:95%; height:420px; border: 1px solid #dedbdb; padding:5px; margin:10px; float:left; background-color:#fff; }

.secon {  width:100%; height:60px; border: 0px solid #dedbdb; float:left; }

.advcon { width:100%; height:350px; border: 0px solid #dedbdb; float:left; margin-top:3px; }

.newbox { width:200px; height:60px; border: 0px solid #dedbdb; float:left;}

.newboxright { width:200px; height:40px; border: 0px solid #dedbdb; float:right; margin-top:15px;}

.newboxright:hover{ background-color:#e4e1e0; }

.newboxtxt { padding:10px; font-family:sans-serif; font-size:22px; color:#2a2294; font-weight:bolder; text-transform:uppercase; margin:5px; }

.newboxtxtright { padding:10px; font-family:sans-serif; font-size:10px; color:#2a2294; font-weight:bolder; text-transform:uppercase; margin:5px; text-align:center;  }

.logocon { width:170px; height:150px; border: 0px solid #dedbdb; float:left; margin:5px; }


               /* END My Partners*/

/* ---- Google Maps  ----*/

.BoxContact {
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    position: relative;
    box-shadow: none;
    background: none;
    z-index: 1;
    flex: 0 0 auto;
}

.BoxContactLeft {
  display: flex;
    width: 100%;
}

.map {
display: flex;
    width: 60%;
    height: 100%;
    min-height: 400px;
    padding-left: 60px;
    background-color: transparent;
  }



/* ---- FOOTER starts here ----- */

.BoxFooter {
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    padding: 50px 20px;
    position: relative;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
    background: none;
    z-index: 1;
    flex: 0 0 auto;
}

.BoxFooterContain {
  display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: 10px 0px;
    margin: 0px auto;
}

.address {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: none;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: 0px;
  padding: 0px;
}

.TextFooter {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.favicons {
  -webkit-box-align: stretch;
    align-items: normal;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    -webkit-box-flex: 0;
    height: auto;
    -webkit-box-pack: center;
    justify-content: center;
    max-height: none;
    max-width: none;
    width: 100%;
    z-index: 0;
    position: static;
    background: none 0% 0% / auto transparent;
    flex: 0 1 100%;
    margin: 20px 0px;
    padding: 0px;
}
























/* Your New Career */
.ContainerProgram {
  display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin: 0px auto;
    -webkit-box-flex: 1;
    width: 100%;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

.NewCareer {
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    padding: 50px 20px;
    position: relative;
    box-shadow: none;
    background: none;
    z-index: 1;
    flex: 0 0 auto;
}

.containerNewCareer {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.leftNewCareer {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    z-index: 2;
    max-width: 45%;
}

.rightNewCareer {
  position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.photoNewCareer {
  width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.LinkNewCareer {
  text-decoration: underline;
  color: rgb(74, 80, 187);
  font-weight: lighter;
}

.buttonApply {
  display: inline-flex;
    font-size: 12px;
    line-height: 160%;
    text-decoration: none;
    background-color: rgb(74, 80, 187);
    color: white;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Work Sans", sans-serif;
}

/* --- Our Core Values --- */

.OurValues {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
  padding: 50px 0px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.BoxOurValues {
  display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: 10px 0px;
    margin: 0px;
}

.ContOurValues {
  display: flex;
    background-color: rgb(248, 249, 252);
    padding: 100px;
    flex-direction: column;
}


.TitleOurValues {
  font-size: 24px;
    line-height: 140%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: rgb(28, 34, 148);
    text-align: left;
    max-width: none;
}

.IconValues{
  display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.Community {
  display: flex;
    width: 40%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}

.ImgIcon {
  margin-bottom: 20px;
    min-height: 70px;
    object-fit: contain;
}

.TitleIconsValues {
  font-size: 20px;
    line-height: 140%;
    margin-bottom: 20px;
    text-transform: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: rgb(28, 34, 148);
    text-align: left;
    max-width: none;
}

.TextValues {
  color: rgb(45, 48, 55);
    text-align: left;
    max-width: none;
    line-height: 160%;
    font-size: 16px;
    font-family: "Space Mono", monospace;
    margin: 0px;
    white-space: pre-wrap;
    word-break: break-word;
    font-weight: 300;
}